---
import '../styles/global.css'
import Layout from '../layouts/Mylayout.astro'
import LandingHeader from '../components/LandingHeader.astro'
import HeroSection from '../components/HeroSection.astro'
---

<Layout>
  <main>
    <LandingHeader />
    <HeroSection />
    <HeroSection />
    <HeroSection />
    <HeroSection />
  </main>
</Layout>


