<section
  class="h-screen w-screen text-center relative overflow-hidden bg-cover bg-center flex flex-col justify-center items-center text-white"
  style="background-image: url('/Tesla/Homepage-Model-Y-2-Hero-Desktop-APAC-LHD.avif');"
>
  <h2 class="absolute top-18 left-1/2 -translate-x-1/2 text-5xl font-semibold">Model Y</h2>
  <div class="absolute bottom-10 left-1/2 -translate-x-1/2 flex gap-4">
    <a class="bg-blue-500 px-22 py-3 rounded text-xs">Ordenar</a>
    <a class="bg-white text-gray-900 px-20 py-3 rounded text-xs">Más información</a>
  </div>
</section>
